<?xml version="1.0" ?>
<robot name="turtlebot3_burger" xmlns:xacro="http://ros.org/wiki/xacro">
  

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0" rpy="0 0 0"/>
  </joint>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot3_description/meshes/bases/cyliner.stl" scale="1 1 1"/>
      </geometry>
      <material name="light_black"/>
    </visual>

    <collision>
      <origin xyz="0 0 200" rpy="0 0 0"/>
      <geometry>
        <box size="100 100 200"/>
      </geometry>
    </collision>

    
     
      
  </link>

  <joint name="semi_sphere_joint" type="fixed">
    <parent link="base_link"/>
    <child link="semi_sphere_link"/>
    <origin xyz="0 0 10" rpy="0 0 1.57"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="semi_sphere_link">
    <visual>
      <origin xyz="0 0 10" rpy="0 0 1.57"/>
      <geometry>
        <mesh filename="package://turtlebot3_description/meshes/bases/semi_sphere.stl" scale="1 1 1"/>
      </geometry>
      <material name="dark"/>
    </visual>

    <collision>
      <origin xyz="0 0 10" rpy="0 0 0"/>
      <geometry>
        <cylinder length="10" radius="5"/>
      </geometry>
    </collision>

    
  </link>


</robot>